<!DOCTYPE html>
<html>
<head>
    <title>사용자 파일 목록</title>
</head>
<body>
<header>
    <h1>사용자 파일 관리</h1>
    <p><a href="/admin">관리자 페이지로 이동</a></p>
</header>
<section>
    <p>서버에서 파일 목록을 가져와 아래에 표시합니다.</p>
    <p>파일 목록 API 사용법은 <a href="https://github.com/java-lesson-cbnu/android-lesson-01">여기</a>를 참조하세요.</p>
    <div id="fileListContainer"></div>
</section>
<script>
    async function fetchFileList() {
        try {
            const response = await fetch('/api/v1/data/list');
            const fileList = await response.json();
            console.log(fileList);
            const listContainer = document.getElementById('fileListContainer');
            const ul = document.createElement('ul');
            fileList.forEach(file => {
                const li = document.createElement('li');
                li.textContent = file.name; // 가정: 파일 객체에 'name' 속성이 있다고 가정함
                ul.appendChild(li);
            });
            listContainer.appendChild(ul);
        } catch (error) {
            console.error('파일 목록을 불러오는 데 실패했습니다:', error);
        }
    }

    fetchFileList();
</script>
</body>
</html>
